= form_for @card do |f|
  = f.hidden_field :week_starting
  %table
    %th Date
    - if current_user.exempt
      %th Worked
    - else
      %th Hours Worked
      %th Hours PTO
      %th Paid Holiday
    %th Notes
    = f.fields_for :days do |builder|
      = builder.hidden_field :date
      %tr
        %td
          = builder.label :days, builder.object.date.strftime("%A %m/%d") 
        - if current_user.exempt
          - options = [["Worked", :worked],
                      ["PTO", :PTO],
                      ["Half PTO", :Half_PTO],
                      ["Did Not Work", :Did_Not_Work],
                      ["Paid Holiday", :Paid_Holiday]]
          %td
            - if @disabled
              = builder.object.worked.to_s.gsub /_/, ' '
            - else
              = builder.select :worked, options, {}, {:disabled => @disabled}
        - else
          %td
            = builder.number_field :hours_worked, :disabled => @disabled
          %td
            = builder.number_field :hours_pto, :disabled => @disabled
          %td
            = builder.check_box :worked, {:checked => builder.object.worked.to_s == "Haid_Holiday", :disabled => @disabled}, "Paid_Holiday", "worked" 
        %td
          = builder.text_area :notes, :rows => 1, :disabled => @disabled
          -unless @disabled
            = link_to_function "Clear", "clear_fields(this)", :disabled => @disabled
  -if not @disabled
    = submit_tag "Save", :name => 'save'
    = submit_tag "Submit", :name => 'submit'
    
