= form_for @card do |f|
  = f.hidden_field :week_starting
  = f.hidden_field :isSubmitted
  = f.hidden_field :isApproved
  %table
    %th Date
    - if @card.class == ExemptCard
      %th Worked
    - else
      %th Hours Worked
      %th Hours PTO
      %th Paid Holiday
    %th Notes
    - f.fields_for :exempt_days do |builder|
      %tr
        = builder.hidden_field :date
        - if builder.object.class == ExemptDay
          - options = ["Worked", "PTO", "Half PTO", "Did Not Work", "Paid Holiday"]
          %td
            = builder.label :days, builder.object.date.strftime("%A %m/%d") 
          %td
            - if @disabled
              = builder.object.worked.to_s
            - else
              = builder.select :worked, options, {}, {:disabled => @disabled}
        - else
          %td
            = builder.number_field :hours_worked, :disabled => @disabled
          %td
            = builder.number_field :hours_pto, :disabled => @disabled
          %td
            = builder.check_box :worked, {:checked => builder.object.worked.to_s == "Paid Holiday", :disabled => @disabled}, "Paid_Holiday", "worked" 
        %td
          = builder.text_area :notes, :rows => 1, :disabled => @disabled
          - unless @disabled
            = link_to_function "Clear", "clear_fields(this)", :disabled => @disabled
  - if not @disabled
    = submit_tag "Save", :name => 'save', :controller => :cards
    = submit_tag "Submit", :name => 'submit'
  - else


