%h1= "Time Card for week starting #{@card.week_starting.strftime("%B %d, %Y")}" 

-if @card.errors.any?
  #errorExplanation
    %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  
= render :partial => 'form'

= link_to 'Show all', cards_path