%head
  %title TimeCard
  = stylesheet_link_tag :all
  = javascript_include_tag :all
  = csrf_meta_tag

%body
- flash.each do |key, msg|
  = content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}"

%p
  - if current_user
    - if current_user.class == Manager and not controller.controller_name == 'manager'
      - count = Card.where(:isSubmitted => true, :isApproved => false, :user_id => User.where(:department_id => current_user.department).all).all.count
      - if count > 0
        #cardAlert
          - split = pluralize(count, 'card requires', 'cards require').split(' ')
          = link_to "#{split[0]} #{split[1]}", manager_path
          = "#{split[2]} your approval."  
    = "Hello, #{current_user.first_name}! ("
    = link_to 'Not you?', logout_path, :method => :delete
    = ")"
= yield